.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.5), rgba(8,0,58,0.5)), url('../../assets/bgImageHero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-text{
    text-align: center;
    max-width: 800px;
    margin-top: -50px;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
    color: #fff; /* Base color */
    /* text-shadow: 3px 3px 5px rgba(255, 105, 180, 0.7), -3px -3px 5px rgba(0, 255, 255, 0.7); Mixture of colors */
}

.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.6;
    color: #fff; /* Base color */
    /* text-shadow: 2px 2px 4px rgba(255, 105, 180, 0.7), -2px -2px 4px rgba(0, 255, 255, 0.7); Mixture of colors */
}

/* media */

@media (max-width:850px){
    .hero-text h1{
        font-size: 40px;
    }
}

@media (max-width:650px){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;

    }

    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
}